*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(rgba(190, 132, 43, 0.644), rgba(106, 44, 143, 0.555));
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color:  rgba(182, 132, 66, 0.822);
    text-align: center;
}

.wrapper{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: white; */
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    border-radius: 15px 15px 15px 15px;
    border: 15px solid purple;
    padding-top: 5px;
}

.box{
    width: 100%;
    float: left;
    height: 600px;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
    /* background: rgb(207, 197, 197); */
    color: beige;
    
}

.player-name{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score{
    text-align: center;
    font-size: 60px;
    top:200px;
    font-weight: 100;
    color: rgba(69, 69, 122, 0.644);
    margin-bottom: 130px;
}

.player-current-box{
    padding-top:100px;
}

.player-current-label{
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 30px;
    color:beige;
}

.player-current-score{
    text-transform: uppercase;
    margin-bottom: 0px;
    font-size: 25px;
    color: beige;
}


button{
    position: absolute;
    width:200px;
    left: 50%;
    transform:translate(-50%);
    color:rgba(69, 69, 122, 0.644);
    background: none;
    border:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-transform:uppercase;
    cursor:pointer;
    font-weight: 300;
    transition: background-color 0.5s ease, color 0.3s ease;
    vertical-align: text-top;
    line-height:1;
}

button:hover{
    font-weight: 600;

}

button:focus{
    outline:none
}

.btn-new{
    top:100px;
}

.btn-roll{
    top:475px;
}

.dice{
    position: absolute;
    left: 50%;
    top: 310px;
    transform: translate(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.538);
    border-radius: 15px 15px 15px 15px;
}

